.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #7F7F7F;
    color: white;
    text-align: center;
    padding-top: 10px;

    .icon-background {


        .icon-manage {
            margin-right: 20px;
            margin-left: 20px;
            color: white;
            font-size: 2.75rem;
            margin-bottom: 10px;

        }

    }
}