<app-loading [isLoading]="loading"></app-loading>
<div
    class="wrap-login col-10 col-sm-10 col-xs-10 col-md-10 col-lg-6 offset-1 offset-sm-1 offset-xs-1 offset-md-1 offset-lg-3">
    <form class="login-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="loginPassword" class="form-label text-login">New Password</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword" required>
          
            <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="text-danger">
                Password is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">
                Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required>
            <div *ngIf="resetPasswordForm.errors?.['mismatch']" class="text-danger">
                Passwords do not match.
            </div>
        </div>
        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']" class="text-danger">
            New password is required.
        </div>
        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']" class="text-danger">
            New password must be at least 8 characters long.
        </div>
        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['maxlength']" class="text-danger">
            New password cannot be more than 20 characters long.
        </div>
        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']" class="text-danger">
            New password must contain at least one letter and one number.
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        <button type="submit" class="btn btn-warning w-100" [disabled]="resetPasswordForm.invalid">Submit</button>
        <div class="text-center mt-3">
            <label class="order-link" (click)="goToLogin()">Back to Login</label>
          </div>
    </form>
   
</div>
<div class="alert alert-danger col-3 offset-3" *ngIf="error" style="position: absolute;" role="alert">
    {{txtAlertError}}
</div>
<div *ngIf="alertSuccess" class="alert alert-success" style="position: absolute;" role="alert">
    Your password has been successfully updated!
</div>